h1{
	color:#FAAC58;text-align: center;
}

h2{
	color:#FAAC58;text-align: center;
	
	font-size: medium;
}
img {  position:relative;
	left:250px;
 }
 h3{font-size:x-small;

 }

 h4{color:red;text-align: left;
 }